<html>
<head>
<title>Free Smarty Website Template | Services :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="wrap-box"> </div> 	
 <div class="header">	
   
 </div>
       <div class="main" style="background-color: floralWhite;">
		 <div class="wrap">
			<div class="about">
				<div class="about-top">
					<div class="col span_1_of_about">
					  <h3>Featured Sitters</h3>
						<div class="services-box">
							
							
							<div class="clear"></div> 
		               </div>
		               <div class="services-box">
							<div class="col_1_of_2 span_1_of_2">
								<img src="/images/pic12.jpg" alt=""/>
								
							</div>
							<div class="col_1_of_2 span_1_of_2">
								<img src="/images/pic13.jpg" alt=""/>
								
							</div>
							<div class="clear"></div> 
		               </div>
		                <div class="services-box">
							<div class="col_1_of_2 span_1_of_2">
							    <img src="/images/pic14.jpg" alt=""/>
								<p class="text1"> 1.SELECT A 
								SITTER OF YOUR CHOICE</p>
							</div>
							<div class="col_1_of_2 span_1_of_2">
								<img src="/images/pic15.jpg" alt=""/>
								<p class="text1">2.MAKE A RESERVATION</p>
							</div>
							<div class="clear"></div> 
		               </div>
					</div>
					<div class="col span_1_of_about1">
					<h3> List of owners: </h3>
<%@owners.each do |owner| %>
<p><%= owner.first_name %> </p>
<p> <%= owner.last_name %> </p>
<p> <%= owner.address %> </p>
<p> <%= owner.city %> </p>
<p> <%= owner.state %> </p>
<p> <%= owner.zipcode %> </p>
<p> <%=owner.phone_number %> </p>
<p> <%= owner.email %> </p>
<% end %>

<h4>Here is my pet: </h4>
 <p> <strong> Name: </strong><%=@pet.name %> </p>
<p> <strong> Age: </strong><%=@pet.age %> </p>
<p> <strong> Bio: </strong> <<%= @pet.bio %> </p>
<p> <strong> Gender: </strong> <%= @pet.gender %> </p>

<img src="<%= @pet.image %>" width="335">

		        
		       
				     
			     </div>
			    <div class="clear"></div>
		     </div>
		</div>
	</div>
   </div>
	
</div>
</body>
</html>

    	
    	
            













































