
<!DOCTYPE HTML>
<html>
<head>
<title>Free Smarty Website Template | Services :: w3layouts</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
        <div class="clear"></div> 
     </div>
  </div>
 </div>
       <div class="main" style="background-color: lightgrey;" >
     <div class="wrap">
     <div class="profile">
      <div class="about">
        <div class="about-top">
          <div class="col span_1_of_about">
          <h3 style="font-family: fantasy;"> MY PROFILE </h3>
            <div class="sidebar-nav">
   
   <p> <strong> First Name: </strong> <%= @owner.first_name %> </p>
<p> <strong> Last Name: </strong> <%= @owner.last_name %> </p>
<p> <strong> Address: </strong> <%= @owner.address %> </p>
<p> <strong> City: </strong> <%= @owner.city %> </p>
<p><strong> State: </strong> <%= @owner.state %> </p>
<p>  <strong>Zipcode: </strong><%= @owner.zipcode %> </p>
<p> <strong> Phone Number: </strong> <%=@owner.phone_number %> </p>
<p> <strong> Email: </strong> <%= @owner.email %> </p>


<h4> My reservations: </h4>
<% @reservations.each do |reservation| %>
<p> <strong> Name of the sitter:</strong>  <%=reservation.sitter.first_name%> </p></p>
 <p> <strong> Start Date:</strong> <%= reservation.start_date %> </p>
<p> <strong> End Date: </strong> <%= reservation.end_date %> </p>
<p><strong> Start Time:</strong> <%= reservation.start_time%> </p>
<p> <strong>End Time: </strong> <%= reservation.end_time %> </p>
<p> <strong> Host: </strong> <%= reservation.host %> </p>
<p> <strong> Message: </strong> <%= reservation.message %></p>
<p><strong> Price: </strong> <%= reservation.price %> </p>
<% end %>
                    


             
          
              <div class="clear">
           
              </div> 
              <div>
                     	<h3 style="font-family: fantasy;"> Find a sitter by animal type</h3>

<%= form_tag('/sitters', :method => "get", id: "search-form") do %>

    <%= text_field_tag :search, params[:pet_types], placeholder: "Search Sitters" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
              </div>
                   </div>
          </div>
          <div class="col span_1_of_about1">
          <h3 style="font-family: fantasy;">PET PROFILE </h3>
            <div class="services-box">



<%@pets.each do |pet| %>
<p> <strong> Name: </strong> <%= pet.name %> </p>
<p> <strong> Type: </strong> <%= pet.species %> </p>
<p> <strong> Age:</strong> <%= pet.age %> </p>
<p> <strong> Bio:  </strong> <<%= pet.bio %> </p>
<p> <strong> Gender: </strong> <%= pet.gender %> </p>
<!-- <p> <%= pet.owner_id %> </p>
<p> <%=pet.id %> </p> -->

<img src="<%= pet.image %>" width="335">

<% end %>
   <p> <strong> <a href="/pets/new"> Add a new pet </strong> </p>
              
                   
                   </div>
                   
                    
              
              
               </div>
              
               </div>
               
            </div>
             
                
                <div class="clear"></div>
              </li>
            </ul>
           </div>
          <div class="clear"></div>
         </div>
    </div>
  </div>
   </div>
   


  

</body>
</html>













