<!DOCTYPE HTML>
<html>
<head>
<title>Free Smarty Website Template | Gallery :: w3layouts</title>
<link href="/css/style.css" rel="stylesheet" type="/text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



</head>
<body>

     <div class="main" style="background-color: lightgrey;">
    <div class="wrap">
      <div class="about-top">
        <div class="about">
         
        <div class="section group" style="max-width: 80%">
        <div class="grid_1_of_4 images_1_of_4">
        <h2 style="font-family: fantasy;">ADD A PET </h2>
           <%= form_tag '/pets', method: :post do  %>
 <div>
    <%= label_tag :name %>
    <%= text_field_tag :name,"",size:40 %>
  </div>
 <div>
    <%= label_tag :species %>
    <%= text_field_tag :species,"",size:40 %>
  </div>

  <div>
    <%= label_tag :age %>
    <%= text_field_tag :age,"",size:40   %>
  </div>
    <div>
    <%= label_tag :bio %>
    <%= text_field_tag :bio,"",size:40 %>
  </div>
    <div>
    <%= label_tag :gender%>
    <%= text_field_tag :gender,"",size:40%>
  </div>
   <div>
    <%= label_tag :image%>
    <%= text_field_tag :image,"",size:40%>
  </div>
  <div>
    <%= hidden_field_tag :owner_id, params[:owner_id] %>
  </div>

  <%= submit_tag "Submit" %>
<% end %>
           <p> <a href="/owners/<%=current_owner.id%>"> Back to profile </p>
  
          </div>

         
          
         
         
         
            
           
          </div>
          <div class="clear"></div> 
          </div>
         
      </div>
    </div>
    </div>
  </div>
  
</body>
</html>





            
                    


             
  
        


            





          
          
              









