
<html>
<head>
<title>Free Smarty Website Template | Services :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div class="wrap-box"> </div> 	
 <div class="header">	
   
 </div>
       <div class="main" style="background-color: lightgrey;">
		 <div class="wrap">
			<div class="about">
				<div class="about-top">
					<div class="col span_1_of_about">
					  <h3>Featured Sitters</h3>
						<div class="services-box">
							
							
							<div class="clear"></div> 
		               </div>
		               <div class="services-box">
							<div class="col_1_of_2 span_1_of_2">
								<img src="/images/pic12.jpg" alt=""/>
								
							</div>
							<div class="col_1_of_2 span_1_of_2">
								<img src="/images/pic13.jpg" alt=""/>
								
							</div>
							<div class="clear"></div> 
		               </div>
		                <div class="services-box">
							<div class="col_1_of_2 span_1_of_2">
							    <img src="/images/pic14.jpg" alt=""/>
								<p class="text1" style="text-align: center"> SELECT A 
								SITTER </p>
							</div>
							<div class="col_1_of_2 span_1_of_2">
								<img src="/images/pic15.jpg" alt=""/>
								<p class="text1" style="text-align: center">2.MAKE A RESERVATION</p>
							</div>
							<div class="clear"></div> 
		               </div>
					</div>
					<div class="col span_1_of_about1">
						<h3>Available Sitters</h3>
						<% @sitters.each do |sitter| %>
							<p> <strong> Name: </strong> <%= sitter.first_name %>  <%= sitter.last_name %> </p>
							
							<p> <strong> City: </strong> <%= sitter.city %> </p>
							<p> <strong> Phone: </strong> <%=sitter.phone_number %> </p>
							<p> <strong> Email: </strong> <%= sitter.email %> </p>
						
							<p> <a href="/sitters/<%= sitter.id %>">  View Sitter </a> </p>
							<% end %>
						
		        
		       
				     
			     </div>
			    <div class="clear"></div>
		     </div>
		</div>
	</div>
   </div>
	
</div>
</body>
</html>

    	
    	
            


































