
<html>
<head>
<title>Free Smarty Website Template | About :: w3layouts</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

     <div class="main" style="background-color: lightgrey;">
		 <div class="wrap">
			<div class="about">
				<div class="about-top">
					<div class="col span_1_of_about">
							<h3 style="font-family: fantasy"> SITTER PROFILE</h3>
							
							<div class="about-desc" style="color: black">
							<p> <strong> Name: </strong><%= @sitter.first_name %>  <%= @sitter.last_name %> </p>
							<p> <strong> Address: </strong> <%= @sitter.address %> </p>
							<p> <strong> City: </strong> <%= @sitter.city %> </p>
							<p> <strong> State: </strong> <%= @sitter.state %> </p>
							<p> <strong> Zipcode: </strong> <%= @sitter.zipcode %> </p>
							<p> <strong> Phone Number: </strong> <%=@sitter.phone_number %> </p>
							<p> <strong> Email: </strong> <%= @sitter.email %> </p>
							</div>
			<div class="clear">
								<% if current_sitter %>

<h4> Confirmed Reservations:</h4>

			<% @confirmed_reservations.each do |confirmed_reservation| %>
				<p> <strong>  Owner: </strong> <%= confirmed_reservation.owner.first_name%> </p	
			<p> <strong>  Start Date: </strong> <%= confirmed_reservation.start_date %> </p>
	<p> <strong> End Date:</strong>  <%= confirmed_reservation.end_date %> </p>
	<p> <strong> Start Time: </strong> <%= confirmed_reservation.start_time%> </p>
	<p> <strong> End Time: </strong> <%= confirmed_reservation.end_time %> </p>
	<p> <strong> Host: </strong> <%= confirmed_reservation.host %> </p>
	<p> <strong> Message:</strong> <%= confirmed_reservation.message %></p>
	<p> <strong>  Price:</strong> <%= confirmed_reservation.price %> </p>
			<% end %>			
	
				
<h4> Reservations pending for review: </h4>


<% @reservations.each do |reservation| %>
	<p> <strong>  Start Date: </strong> <%= reservation.start_date %> </p>
	<p> <strong> End Date:</strong>  <%= reservation.end_date %> </p>
	<p> <strong> Start Time: </strong> <%= reservation.start_time%> </p>
	<p> <strong> End Time: </strong> <%= reservation.end_time %> </p>
	<p> <strong> Host: </strong> <%= reservation.host %> </p>
	<p> <strong> Message:</strong> <%= reservation.message %></p>
	<p> <strong>  Price:</strong> <%= reservation.price %> </p>
	<p> <strong> </strong> Confirm your reservation : </p>
	<p> <strong> </strong> <%= reservation.confirmed %> </p>


	<%= form_tag "/reservations/#{reservation.id}", method: :patch do  %>	

	  <%= submit_tag "Yes", name: "confirmed"%>
	   

	<% end %>
	<%= form_tag "/reservations/#{reservation.id}", method: :patch do  %>	

	    <%= submit_tag "No", name: "not_confirmed" %>

	<% end %>
<% end %>
<% end %>



<% if current_owner %>
<div>

<p> <a href="/reservations?sitter_id=<%= @sitter.id%>"> Make a reservation </p>
<p> <a href="/reviews?sitter_id=<%= @sitter.id%>"> Add a review </a> </p>
<p> <a href="/owners/<%= current_owner.id %>"> Back </a> </p>
</div>
<% end %>


							</div>
					</div>
					<div class="col span_1_of_about1">
						<h3 style="font-family: fantasy">RECENT REVIEWS For <%=@sitter.first_name %> </h3>
						<ul class="comments-custom unstyled">			
					      
								
						<% @reviews.each do |review| %>
						<li class="comments-custom_li">
							<div class="icon"></div>

							<p> <%= review.review %> <p>
								<p> - <%= review.owner.first_name%> <%= review.owner.last_name%> <p>
							
						</li>
							<% end %>
						
							
							
							
							
					     </ul>
				    </div>
					<div class="clear"></div>
			</div>
			<div class="about-bottom">
	   		       <div class="about-topgrids">
						
				   </div>
								<div class="about-histore">
									
									
								
								   <div class="clear"> </div>
								</div>
								
						      <div class="clear"></div> 
					</div>
			  </div>
		</div>
	</div>
	
</body>
</html>

    	
    	
            









































