
<head>

<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
        <div class="clear"></div> 
     </div>
  </div>
 </div>
       <div class="main" style="background-color: lightgrey;">
     <div class="wrap" >
      <div class="about"
        <div class="about-top"  >
         
          <h3> MAKE A RESERVATION </h3>
          <%= form_tag '/reservations', method: :post do  %>
          <p> Select your pet: </p>
    <%= collection_select(:pet, :pet_id, current_owner.pets, :id, :name) %>
 <div>
    <%= label_tag :start_date %>
    <%= text_field_tag :start_date %>
  </div>
 <div>
    <%= label_tag :end_date%>
    <%= text_field_tag :end_date%>
  </div>

  <div>
    <%= label_tag :host %>
    <%= text_field_tag :host %>
  </div>
    <div>
    <%= label_tag :message %>
    <%= text_field_tag :message %>
  </div>
    <div>
    <%= label_tag :price %>
    <%= text_field_tag :price %>
  </div>
  <div>
    <%= label_tag :start_time %>
    <%= text_field_tag :start_time %>
  </div>
  <div>
    <%= label_tag :end_time %>
    <%= text_field_tag :end_time %>
  </div>
  
    
   <div>
    <%= hidden_field_tag :sitter_id, params[:sitter_id] %>
  </div>
  
  <%= submit_tag "Submit" %>
<% end %>
        

           
              <div class="clear">
                <p>   <a href="/sitters/<%= @sitter.id %>"> Back to sitter profile  </p>
                <p> <a href="/owners/<%= current_owner.id %>"> Back to my profile  </a> </p>
              </div> 
                   </div>
          </div>
         
                
              
              
               </div>
              
               </div>
               
            </div>
             
                
                <div class="clear"></div>
              </li>
            </ul>
           </div>
          <div class="clear"></div>
         </div>
    </div>
  </div>
   </div>
   


  

</body>




































